[submodule "memory-management-unit"]
	path = memory-management-unit
	url = https://github.com/meetparekh09/memory-management-unit.git
[submodule "Linker"]
	path = Linker
	url = https://github.com/meetparekh09/Linker.git
[submodule "IO-Management-Simulation"]
	path = IO-Management-Simulation
	url = https://github.com/meetparekh09/IO-Management-Simulation.git
[submodule "Discrete-Event-Simulation"]
	path = Discrete-Event-Simulation
	url = https://github.com/meetparekh09/Discrete-Event-Simulation.git
